@mixin grid($columns: var(--grid-col-count), $gap: var(--col-gutter)) {
  display: grid;
  grid-template-columns: repeat(#{$columns}, 1fr);
  grid-column-gap: #{$gap};
}

@mixin grid-start($row, $column) {
  grid-row-start: $row;
  grid-column-start: $column;
}

@mixin grid-column-span($columns) {
  grid-column-end: span #{$columns};
}

@mixin grid-row-span($rows) {
  grid-row-end: span $rows;
}

@mixin grid-standard {
  grid-column-start: 1;
  @include grid-column-span(var(--grid-col-count));
}
