@import "breakpoints";

@mixin Header1 {
  font-family: var(--sans-serif);
  font-size: 5rem;
  @include md {
    margin-bottom: 2rem;
  }
  @include lg {
    margin-bottom: 3rem;
  }
}
@mixin Header2 {
  // font-family: serif;
  font-family: var(--sans-serif);
  font-size: 4rem;

  @include md {
    margin-bottom: 1.5rem;
  }
  @include lg {
    margin-bottom: 2rem;
  }

  &:not(:first-child) {
    @include md {
      margin-top: 2rem;
    }
    @include lg {
      margin-top: 3rem;
    }
  }
}
@mixin Header3 {
  // font-family: var(--serif);
  font-family: var(--sans-serif);
  font-size: 3rem;

  &:not(:first-child) {
    @include md {
      margin-top: 1.5rem;
    }
    @include lg {
      margin-top: 2.5rem;
    }
  }
}
@mixin Header4 {
  font-family: var(--sans-serif);
  font-size: 2.5rem;
}
@mixin Paragraph {
  font-family: var(--sans-serif);
  font-size: 1.6rem;
  line-height: 1.3em;
}

h1,
.h1 {
  @include Header1;
}

h2,
.h2 {
  @include Header2;
}

h3,
.h3 {
  @include Header3;
}

h4,
.h4 {
  @include Header4;
}

p {
  @include Paragraph;
  margin-bottom: 1.5rem;
}
