html {
  font-size: 62.5%; /* 1rem = 10px */

  * {
    box-sizing: border-box;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--sans);
  font-size: 2rem;
  margin: 0;
}

p {
  font-size: inherit;
  line-height: 1.5;
  margin: 0;
}
